@using App.Domain
@using App.Enum
@using WebApp.ViewModels
@using WebApp.Helpers
@model CreateAttendeeVM

@{
    ViewData["Title"] = "Osavõtja lisamine";
    AttendeeType? attendeeType = Model.AttendeeType;
}

<h1>Osavõtjad</h1>

<hr />
<div class="row">
    <div class="col-md-6 pb-2">
        <div id="sur_name_div" class="form-group">
            <label asp-for="SurName" class="control-label"></label>
            <label>@Html.DisplayFor(m => m.EventName)</label>
        </div>
        <div id="sur_name_div" class="form-group">
            <label asp-for="FormattedEventDate" class="control-label"></label>
            <label>@Html.DisplayFor(m => m.FormattedEventDate)</label>
        </div>
        <div id="sur_name_div" class="form-group">
            <label asp-for="Location" class="control-label"></label>
            <label>@Html.DisplayFor(m => m.Location)</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h3>
            Osavõtjad
        </h3>
        <table class="table">
            <tbody>
                @foreach (var item in Model.Attendees)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            <a style="text-decoration:none" asp-action="Edit" asp-route-id="@item.Id">Vaata</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">
                                <svg style="color:red" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>
            Osavõtja lisamine
        </h2>
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="AttendeeType" class="control-label"></label>
                @foreach (var type in Enum.GetValues(typeof(AttendeeType)).Cast<AttendeeType>())
                {
                    <div class="form-check">
                        <input id="AttendeeType_@type" type="radio" asp-for="AttendeeType" value="@type" class="form-check-input" onchange="ShowHide(this.value)" />
                        <label for="AttendeeType_@type" class="form-check-label">@type.GetDisplayName()</label>
                    </div>
                }
                <span asp-validation-for="AttendeeType" class="text-danger"></span>
            </div>
            <div id="person_fields">
                <div id="sur_name_div" class="form-group">
                    <label asp-for="SurName" class="control-label"></label>
                    <input asp-for="SurName" class="form-control" />
                    <span asp-validation-for="SurName" class="text-danger"></span>
                </div>
                <div id="given_name_div" class="form-group">
                    <label asp-for="GivenName" class="control-label"></label>
                    <input asp-for="GivenName" class="form-control" />
                    <span asp-validation-for="GivenName" class="text-danger"></span>
                </div>

                <div id="personal_identifier_div" class="form-group">
                    <label asp-for="PersonalIdentifier" class="control-label"></label>
                    <input asp-for="PersonalIdentifier" class="form-control" />
                    <span asp-validation-for="PersonalIdentifier" class="text-danger"></span>
                </div>
                <div id="person_additional_info_div" class="form-group">
                    <label asp-for="PersonAdditionalInfo" class="control-label"></label>
                    <textarea asp-for="PersonAdditionalInfo" class="form-control"></textarea>
                    <span asp-validation-for="PersonAdditionalInfo" class="text-danger"></span>
                </div>
            </div>
            <div id="company_fields">
                <div id="company_name_div" class="form-group">
                    <label asp-for="CompanyName" class="control-label"></label>
                    <input name="CompanyName" asp-for="CompanyName" class="form-control" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
                <div id="registry_code_div" class="form-group">
                    <label asp-for="RegistryCode" class="control-label"></label>
                    <input asp-for="RegistryCode" class="form-control" />
                    <span asp-validation-for="RegistryCode" class="text-danger"></span>
                </div>
                <div id="number_of_people_from_company_div" class="form-group">
                    <label asp-for="NumberOfPeopleFromCompany" class="control-label"></label>
                    <input asp-for="NumberOfPeopleFromCompany" class="form-control" />
                    <span asp-validation-for="NumberOfPeopleFromCompany" class="text-danger"></span>
                </div>
                <div id="company_additional_info_div" class="form-group">
                    <label asp-for="CompanyAdditionalInfo" class="control-label"></label>
                    <textarea asp-for="CompanyAdditionalInfo" class="form-control"></textarea>
                    <span asp-validation-for="CompanyAdditionalInfo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethodId" class="control-label"></label>
                <select name="PaymentMethodId" asp-for="PaymentMethodId" class="form-control" asp-items="Model.PaymentMethods">
                    <option value="">Palun valige</option>
                </select>
                <span asp-validation-for="PaymentMethodId" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <input type="submit" value="Lisa" class="btn btn-primary" />
            </div>
        </form>
        <br />
        <div>
            <button class="btn btn-primary" onclick="BackToHomePage()">Tagasi</button>
        </div>
    </div>
</div>
<br />



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        function BackToHomePage() {
            window.location.href = '@Url.Action("Index", "Home")';
        }
        function ShowHide(value) {
            const companyDiv = document.getElementById("company_fields");
            const personDiv = document.getElementById("person_fields");
            const personStyleDisplay = value == 'Person' ? "block" : "none";
            const companyStyleDisplay = value == 'Company' ? "block" : "none";
            companyDiv.style.display = companyStyleDisplay;
            personDiv.style.display = personStyleDisplay;
        }
        ShowHide('@attendeeType');

    </script>
}
