@model App.Domain.Üritus

@{
    ViewData["Title"] = "Kustuta üritus";
}

<h1>Kustuta üritus</h1>

<h3>Kas olete kindel, et soovite üritust kustutada?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ÜrituseNimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ÜrituseNimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Toimumisaeg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Toimumisaeg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Koht)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Koht)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lisainfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lisainfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OsavõtjateArv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OsavõtjateArv)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Kustuta" class="btn btn-danger" /> |
        <a asp-action="Index">Tagasi</a>
    </form>
</div>
