@using WebApp.ViewModels
@model IEnumerable<IndexEventVM>

@{
    ViewData["Title"] = "Üritused";
}

<h1>Üritused</h1>

<p>
    <a style="text-decoration:none" asp-action="Create">Lisa uus üritus</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LineNumberFormatted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDateAndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalInfo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LineNumberFormatted)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDateAndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalInfo)
            </td>
            <td>
                <a style="text-decoration:none" asp-action="Edit" asp-route-id="@item.Id">MUUDA</a> |
                <a style="text-decoration:none" asp-action="Delete" asp-route-id="@item.Id">KUSTUTA</a>
            </td>
        </tr>
}
    </tbody>
</table>
